APP_ENV=${build.env}
APP_SECRET=fa32334608638cef4fd2c1d50ca52b6b
AWS_REGION=${aws_region}
DATABASE_URL=${db.database_url}
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###> symfony/mailjet-mailer ###
# MAILER_DSN=mailjet+api://PUBLIC_KEY:PRIVATE_KEY@api.mailjet.com
# #MAILER_DSN=mailjet+smtp://PUBLIC_KEY:PRIVATE_KEY@in-v3.mailjet.com
###< symfony/mailjet-mailer ###
