{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block main %}
	<!-- Header -->
	<section class="bg-primary text-white py-4 mx-2">
		<div class="container text-center">
			<h1 class="mb-0">Our Products</h1>
		</div>

	</section>

	<!-- Products Section -->
	<section class="container my-5">
	
		<div class="row g-5 mx-4">
			{% for product in pager %}
     <!-- Product Card -->
    <twig:Product product="{{product}}"/>
{% endfor %}

		</div>
		{{pagerfanta(pager)}}
	</section>

	


{% endblock %}
